[Unit]
Description=Mount mus-fuse

[Service]
Type=simple
RestartSec=5
Restart=always
Environment=HTTP_USER=<USER>
Environment=HTTP_PASS=<PASS>
ExecStart=/usr/local/bin/mus-fuse --mountpoint <PATH> --server <ADDRESS>
KillSignal=SIGINT

[Install]
WantedBy=default.target
