[Unit]
Description=Mount mus-fuse

[Service]
Type=simple
User=mus-fuse
RestartSec=5
Restart=always
ExecStart=/usr/bin/mus-fuse --config /etc/mus-fuse.yml
KillSignal=SIGINT

[Install]
WantedBy=default.target
